.header {
    .logo {
            display: block;
            margin: auto;
            padding: 10px 0;
            cursor: pointer;
    }
}
@media (min-width: 992px) {
    .header {
            .logo {
                    padding: 25px 0;
            }
    }
}