@charset "UTF-8";
/*
D’une manière générale, pour éviter les erreurs, faites en sorte d’importer vos fichiers dans l’ordre suivant :
1) Utils : - Variables.
           - Fonctions.
           - Mixins.
           - Placeholders.
2) Feuilles de style de tiers (vendors) (si vous en avez).
3) Base.
4) Composants.
5) Layout.
6) Pages.
7) Thèmes.
*/
/* Font Titre */
/* font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Font Texte */
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* General */
a {
  text-decoration: none;
}

/* Header */
.header__logo {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 50%;
  height: 30px;
}

/* Main */
.top-section, .bottom-section {
  background: #F7F7F7;
}

.middle-section, .bottom-section {
  font-family: "Roboto", sans-serif;
}
.middle-section__title, .bottom-section__title {
  position: relative;
  left: 15px;
}

/* Top Section */
/* Form */
.form {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 12px 0;
  background: #EAEAEA;
  box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
}
.form__input {
  background: #EAEAEA;
  position: relative;
  border: none;
  width: 98%;
  text-align: center;
}
.form__input::placeholder {
  color: black;
}
.form__input:focus {
  outline: none;
}
.form__location {
  position: absolute;
  top: 62px;
  left: 85px;
  z-index: 1;
}

/* Title & Content */
.description {
  font-family: "Roboto", sans-serif;
  padding: 20px 0 45px;
  text-align: center;
}
.description__title {
  font-size: 1.5em;
}
.description__btn {
  display: block;
  margin: 15px auto 0;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
}

/* Middle Section */
.middle-section {
  margin: 40px 0 60px;
}
.middle-section__option {
  width: 90%;
  height: 60px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 0 auto 24px;
}
.middle-section__option:hover {
  background: #F5EDFF;
}
.middle-section__option--number {
  position: relative;
  top: 20px;
  right: 10px;
  background: #9356DC;
  color: #FFFFFF;
  padding: 4px 9px;
  border-radius: 15px;
}
.middle-section__option--icon {
  color: grey;
  position: relative;
  top: 20px;
  left: 10px;
}
.middle-section__option--icon:hover {
  color: #9356DC;
}
.middle-section__option-content {
  position: relative;
  left: 80px;
  bottom: 15px;
}

/* Bottom Section */
.bottom-section {
  padding: 10px 0 30px;
}

.article__card {
  background: #FFFFFF;
  color: black;
  width: 290px;
  height: 210px;
  margin: 20px 0 30px 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.article__card__img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.article__card__content {
  font-size: 1em;
  padding-top: 5px;
}
.article__card__content--title1, .article__card__content--title2, .article__card__content--description1, .article__card__content--description2 {
  position: relative;
  left: 10px;
  bottom: 20px;
}
.article__card__content--bottom-icon1, .article__card__content--bottom-icon2 {
  color: rgb(144, 142, 142);
  position: relative;
  bottom: 50px;
  left: 240px;
  font-size: 24px;
}

.card-title1, .card-title2 {
  padding-bottom: 2px;
}

.bottom-icon {
  color: rgb(144, 142, 142);
  position: relative;
  bottom: 30px;
  left: 240px;
  font-size: 24px;
}

.card-badge {
  position: relative;
  left: 205px;
  bottom: 135px;
  padding: 5px 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
}

/* Footer */
.footer {
  background: #353535;
  color: #FFFFFF;
  padding: 10px 0;
}
.footer__title, .footer__list {
  position: relative;
  left: 20px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  width: 50%;
  font-size: 18px;
}
.footer__list {
  font-family: "Roboto", sans-serif;
  list-style: none;
  line-height: 24px;
  padding: 0;
}
.footer__list--img1 {
  font-size: 12px;
  margin-right: 15px;
}
.footer__list--img {
  font-size: 12px;
  margin-right: 10px;
}
.footer__list--link {
  color: #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
