/* Fonts */
/* Logo & Titres: Shrikhand */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */
/* Texte: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* Icons */
/*
    <i class="fa-sharp fa-solid fa-arrow-left"></i>
    <i class="fa-thin fa-heart"></i>
    <i class="fa-thin fa-plus"></i>
    <i class="fa-regular fa-check"></i>
*/
/* Colors */
:root {
    /* Color Brief */
    --first-color: #9356DC /* var(--first-color) */;
    --second-color: #FF79DA /* var(--second-color) */;
    --third-color: #88E2D0 /* var(--third-color) */;
    /* Color Figma */
    --fourth-color: #99E2D0 /* var(--fourth-color) */;
    --fifth-color: #008766 /* var(--fifth-color) */;
    --sixth-color: #89C8FA /* var(--sixth-color) */;
    --seventh-color: #003A68 /* var(--seventh-color) */;
    --eighth-color: #9356DC /* var(--eighth-color) */;
    --location-color: #EAEAEA /* var(--location-color) */;
    --homepage-grey-color: #F7F7F7 /* var(--menu-color) */;
    --menu-color: #F7F7F7 /* var(--menu-color) */;
    --menu-hover-color: #F5EDFF /* var(--menu-hover-color) */;
    --footer-color: #353535 /* var(--footer-color) */;
}
/* General */
.title, .title-footer {
    font-family: "Shrikhand", cursive;
}
main, footer {
    font-family: "Roboto", sans-serif;
}

.description, .bottom-section {
    background: var(--homepage-grey-color);
}
/* Header */
.title {
    width: 100%;
    height: 44px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
/* Main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Top Section */
/* Form */
.form {
    width: 100%;
    padding: 10px 0;
    display: flex;
}
.form, .input {
    background-color: var(--location-color);
}
.input {
    border: none;
    
}
.input::placeholder {
    color: black;
    text-align: center;
}
/* Description */
.description {
    padding: 25px;
    text-align: center;
}
.title-description {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}
.content-description {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
}
.title-description, .content-description {
    margin-bottom: 10px;
}
.btn-description {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* Middle Section */
.middle-section {
    padding: 25px 0;
    width: 100%;
}
.title-middle-section {
    margin-left: 10px;
}
.option-middle-section {
    width: 80%;
    margin: 0 0 15px 15px;
    padding: 10px 20px;
    background: var(--menu-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
.option-middle-section:hover {
    background: var(--menu-hover-color);
}
.number-option {
    background-color: var(--first-color);
    border-radius: 15px;
    padding: 4px 8px;
    color: white;
    position: absolute;
    left: 12px;
    margin-top: 12px;
}
.content-option {
    display: inline-block;
}
/* Bottom Section */
.bottom-section {
    padding: 20px;
}
/* Card */
.card-restaurant {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
    padding-bottom: 10px;
    margin-bottom: 1em;
    width: 300px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.img-restaurant {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
}
.title-card, .content-card {
    margin: 0;
}
.title-card {
    font-weight: 700;
    font-size: 18px;
}
.content-card {
    display: inline-block;
    font-weight: 300;
    font-size: 17px;
}
.title-card, .content-card {
    margin-left: 1em;
}
/* Footer */
.footer {
    background-color: var(--footer-color);
    color: white;
    padding: 10px 0;
}
.title-footer, .list-footer {
    margin-left: 20px;
}
.list-footer {
    padding: 0;
}
li {
    list-style: none;
    line-height: 22px;
    font-weight: 500;
}