/* Loader */
.loader-container {
        display: flex;
        flex-direction: column;
        animation: increase 3s forwards;
        .loader-title {
                z-index: 1;
                font-family: "Shrikhand", cursive;
                font-size: 5em;
                margin: auto;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
        }
}
/* Main */
.top-section, .bottom-section {
    background: $color-grey;
}
.middle-section, .bottom-section {
    font-family: "Roboto", sans-serif;
    .title {
            position: relative;
            left: 20px;
    }
}
/* Top Section */
/* Form */
.form {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 12px 0;
    background: $color-location;
    box-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    .input {
            background: $color-location;
            border: none;
            cursor: pointer;
            margin-left: 10px;
    }
    .input::placeholder {
            color: black;
    }
    .input:focus {
            outline: none;
    }
    .location {
            margin-left: 50px;
    }
}
/* Title & Content */
.description {
    font-family: "Roboto", sans-serif;
    padding: 20px 0 45px;
    text-align: center;
    .title {
            font-size: 1.5em;
    }
    
}
/* Middle Section */
.middle-section {
    padding: 40px 0 60px;
    background: $color-white;
    .option {
            width: 80vw;
            height: 60px;
            background: $color-grey;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin: 0 auto 24px;
            transition: background 1s ease-out;
            cursor: pointer;
            .number {
                    position: relative;
                    top: 20px;
                    right: 15px;
                    background: $color-primary;
                    color: $color-white;
                    padding: 4px 9px;
                    border-radius: 15px;
            }
            .icon {
                    color: #7E7E7E;
                    position: relative;
                    top: 20px;
                    left: 2px;
            }
            .choice {
                    position: relative;
                    left: 70px;
                    bottom: 10px;
                    font-size: 0.9em;
                    font-weight: 500;
            }
    }
    .option:hover {
            background: $color-grey-hover;
            .icon {
                color: $color-primary;
            }
    }
    
}
/* Bottom Section */
.bottom-section {
    padding: 40px 0;
    .title {
            margin-bottom: 0;
    }
    .article {
            display: flex;
            flex-direction: column;
            align-items: center;
    }
}
.card {
    position: relative;
    background: $color-white;
    color: black;
    width: 85vw;
    height: 210px;
    margin: 10px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    .img {
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
    .badge {
        padding: 5px 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        background: $color-tertiary;
        color: $color-badge;
        font-size: 14px;
        position: absolute;
                right: 15px;
                top: 20px;
        }
    .content {
            padding-top: 5px;
            .title, .subtitle {
                    position: relative;
                    left: 10px;
                    margin: 0;
            }
            .title {
                    font-size: 1.1em;
                    padding-bottom: 5px;
            }
            .icon {
                    color: rgb(144, 142, 142);
                    position: absolute;
                    bottom: 20px;
                    right: 15px;
                    font-size: 24px;
                    transition: color 1s ease-out;
            }
            .effect {
                color: transparent;
            }
            .effect:hover {
                color: #FF79DA;
                transition: color 1s ease-out;
            }
        }        
}   

@media (min-width: 992px) {
        .form {
                .location {
                        top: 95px;
                        left: 800px;
                }
        }
        .middle-section {
                margin: auto;
                .title {
                        left: 125px;
                }
                .content {
                        width: 85%;
                        margin: auto;
                        display: flex;
                        flex-direction: row;
                        .option {
                                width: 30%;
                                .choice {
                                        position: relative;
                                        left: 70px;
                                        bottom: 12px;
                                }
                        }
                }
        }
        .bottom-section {
                .title {
                        left: 125px;
                }
                .article {
                        margin: auto;
                        width: 90%;
                        flex-direction: row;
                        justify-content: space-evenly;
                        .card {
                                width: 20vw;
                        }
                }
        }
}