/* Colors */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-badge: #008766;
$color-location: #EAEAEA;
$color-white: #FFFFFF;
$color-black: black;
$color-grey: #F7F7F7;
$color-grey-hover: #F5EDFF;
$color-icon: rgb(144, 142, 142);
$color-footer: #353535;
$color-btn: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
$color-btn-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
/* Fonts */
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;